@import "tailwindcss";

@theme {
  /* Body / default sans */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Headings display font */
  --font-display: "Red Hat Display";
}
@utility font-display {
  font-family: var(--font-display);
}

.rotateCircleAbout>img{
  animation: rotation 15s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







